
{%extends 'student/baseAuth.html' %}

{%block titlelog%}Student Signup{%endblock titlelog%}
{%block cssfile1%}<link rel="stylesheet" href="/static/css/student/register.css">{%endblock cssfile1%}
{%block bodylog%}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="title">Registration</div>
    <div class="content">
        <form action="/signupstudent" class="basic" method="POST">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details"><label for="SID">Student ID:</label></span>
                    <input type="numbers" id="sid" name="sid" placeholder="College ID(10 digits max)" max="9999999999"required>
                    <br>
                </div>
                <div class="input-box">
                    <span class="details"><label for="username">Username</label></span>
                    <input type="text" id="username" name="username" placeholder="Create a username(only letters and numbers" required>
                    <br>
                </div>
                <div class="input-box">
                    <span class="details"><label for="fname">First name</label></span>
                    <input type="text" id="fname" name="fname" placeholder="Enter your first name" required>
                    <br>
                </div>
                <div class="input-box">
                    <span class="details"><label for="lname">Last name</label></span>
                    <input type="text" id="lname" name="lname" placeholder="Enter your last name" required>
                    <br>
                </div>
                <div class="input-box">
                    <span class="details"><label for="email">Email</label></span>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    <br>
                </div>
                <div class="input-box">
                    <span class="details"><label for="password">Password</label></span>
                    <input type="password" id="pass1" name="pass1" placeholder="Create a password" required>
                    <br>
                </div>
                <div class="input-box">
                    <span class="details"><label for="password">Confirm password</label></span>
                    <input type="password" id="pass2" name="pass2" placeholder="Confirm your password" required>
                    <br>
                </div>
            
                <div class="input-box">
                    <span class="details"><label for="phone">Phone number</label></span>
                    <input type="phone" id="phone" name="phone" placeholder="Enter your phone number(10 digits max)" min="0000000000" max="9999999999"required>
                    <br>
                </div>
                <div class="input-box">
                    <span class="details"><label for="parphone">Parent's number</label></span>
                    <input type="parphone" id="parphone" name="parphone" placeholder="Enter your phone number(10 digits max)" min="0000000000" max="9999999999"required>
                    <br>
                </div>
                <div class="gender-title">
                    <span class="details"><label for="branch">Branch</label></span><select name="branch" id="branch">*
                        <option value="Computer Science">Computer Science</option>
                        <option value="Information Technology">Information Technology</option>
                        <option value="Electronics and Telecommunication">Electronics and Telecommunication</option>
                        <option value="Artificial Intelligence and Data Science">Artificial Intelligence and Data Science</option> required
                        <!--make compulsory to fill this field-->
                    </select>
                    <br>
                </div>
                <div class="gender-title">
                    <span class="details"><label for="year">Year</label></span><select name="Year" id="Year">*
                    <option value="First year">First year</option>
                    <option value="Second year">Second year</option>
                    <option value="Third year">Third year</option>
                    <option value="Final year">Final year</option> required
                </select>
                <br>
            </div>
            <div class="gender-title">
                <span class="details"><label for="sem">Semester</label> </span><select name="Semester" id="Semester">*
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option> required
                    <!--make compulsory to fill this field-->
                </select> 
                <br>
            </div>
            {% comment %} <button type="submit">Sign up</button> {% endcomment %}
        </form>
    </div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<script src="" async defer></script>
{% endblock bodylog %}

