{%extends 'student/baseDash.html' %}

{%block title%}Student Authentication{%endblock title%}
{%block cssfile%}<link rel="stylesheet" href="/static/css/student/dash/dash.css">{%endblock cssfile%}
{%block body%}
{% if messages %}
{% endif %} 

    
<section class="upcoming">
    <div class="row" style="margin-top: 60px;">

        <div class="row">
            <div class="col-lg-6" style="text-align: center;">

                <a href="/quiz" > <img
                    src="/static/images/student/img3.png" class="a"
                    style="width: 55.5%">
                    <h2 style="text-align: center;">
                        <button class=" btn btn-warning "> Upcoming Test</button></h2>
                </a>
            </div>

            <div class="col-lg-6" style="text-align: center;">

                <a href="#"  class="b"> <img
                    src="/static/images/student/img2.png" class="a" 
                    style="width: 55.5%">

                    <h2 style="text-align: center;">
                       <button class=" btn btn-warning disabled"> Result analysis</button>
                    </h2>
                </a>
            </div>
        </div>
        
</section>
{%endblock body%}