{%extends 'student/baseDash.html' %}

{%block title%}Student Authentication{%endblock title%}
{%block cssfile%}<link rel="stylesheet" href="/static/css/student/dash/stud.css">{%endblock cssfile%}
{%block body%}
{% if messages %}
{% endif %} 

    
<section id="upcoming">
    <div class="row" style="margin-top: 60px;">
        <div class="row">
            <div class="col-lg-4" style="text-align: center;">
                <a href="/schedule"> <img
                    src="/static/images/student/img3.png" class="a"
                    style="width: 55.5%">
                    <h2 style="text-align: center;">
                        <button class=" btn btn-warning "> Test schedule</button></h2>
                </a>
            </div>
            <div class="col-lg-4" style="text-align: center;">

                <a href="/quiz"> <img
                    src="/static/images/student/quiz.png" class="a"
                    style="width: 55.5%">
                    <h2 style="text-align: center;">
                        <button class=" btn btn-warning ">Quiz</button></h2>
                </a>
            </div>
       {% comment %} <div class="col-lg-4" style="text-align: center;">
                <a href="/analysis"  class="b"> <img
                    src="/static/images/student/img2.png" class="a" 
                    style="width: 55.5%">
                    <h2 style="text-align: center;">
                       <button class=" btn btn-warning"> Result analysis</button>
                    </h2>
                </a>
            </div> 
             {% endcomment %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <Br>
        
</section>
<br>
<br>
<br>
<br>
<br>
<br>

<Br>
    <br>
<br>

<Br>
{%endblock body%}