h2{
    margin:10px ;
    /* padding:30px; */
    align-items: center;
    justify-content: center;
}

.test{
    padding-top:10px ;
}

#schedule{
    background-color: #ffbc59;
    /* color: white; */
}

.test{
    color: white;
}