{%extends 'teacher/baseDash.html' %}

{%block title%}Teacher Authentication{%endblock title%}
{%block cssfile%}<link rel="stylesheet" href="/static/css/teacher/dash/dash.css">{%endblock cssfile%}
{%block body%}
{% if messages %}
{% endif %} 

<section id="functions">
  <div class="container">
    <h2>Welcome to Student Diagnostics System!!!!</h2>
    <div class="test">
      Current tests:
      
    </div>
    <div class="row">
      <div class="col-6 comp2 details">
        <h3>Add Questions</h3>
        <form class="form-floating data" method="POST" action="/addQuestion">
          <div class="form-floating">
            <div class="box">
              <select class="form-select" id="floatingSelect" name="subject" aria-label="Floating label select example">
                <option selected>Select the subject</option>
                <option value="DSA">Data Structures</option>
                <option value="SE">Software Engineering</option>
                <option value="JP">Java</option>required
              </select>
              {% comment %} <label for="floatingSelect">Subjects</label> {% endcomment %}
            </div>
            <div class="box">
              <input type="text" class="form-control" id="floatingInputValue" name="question" placeholder="Enter the Question" required>
              {% comment %} <label for="floatingInputValue">Enter the Question</label> {% endcomment %}
            </div>
            <div class="box">
              <input type="text" class="form-control" id="floatingInputValue" name="topic" placeholder="Enter the Topic" required>
              {% comment %} <label for="floatingInputValue">Enter the Topic</label> {% endcomment %}
            </div>
            
            <div class="row">
              <div class="col">
                <div class="box">
                  <input type="text" class="form-control" name="op1" required placeholder="Option 1" aria-label="op1">
                </div>
              </div>
              <div class="col">
                <div class="box">
                  <input type="text" class="form-control" name="op2" required placeholder="Option 2" aria-label="op2">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <div class="box">
                  <input type="text" class="form-control" name="op3" required placeholder="Option 3" aria-label="op3">
                </div>
              </div>
              <div class="col">
                <div class="box">
                  <input type="text" class="form-control" name="op4" required placeholder="Option 4" aria-label="op4">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <div class="box">
                  <input type="text" class="form-control" name="correct" required placeholder="Type correct answer" aria-label="op3">
                </div>
              </div>
              <div class="col">
                <div class="box">
                  <span class="form-group box col-auto">
                    <select class="form-select" id="floatingSelect" name="diff" aria-label="Floating label select example">
                      <option selected>Difficulty level</option>
                      <option value="easy">easy</option>
                      <option value="medium">medium</option>
                      <option value="hard">hard</option>required
                    </select>
                  </span>
                </div>
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary my-2" style="margin-bottom: 10px;">ADD</button>{% csrf_token %}
          </div>
        </form>
      </div>
      <!-- </div> -->
      
      <div class="col-6 comp3 details">
        <h3>Create Test</h3>
        <form class="form-floating data" method="POST" action="/setTest">
          <div class="form-floating">
            <div class="box">
              <select class="form-select" id="floatingSelect" name="subject" aria-label="Floating label select example">
                <option selected>Select the subject</option>
                <option value="DSA">Data Structures</option>
                <option value="SE">Software Engineering</option>
                <option value="JP">Java</option>required
              </select>
            </div>
            
            <div class="row">
              <div class="col">
                <div class="box">
                  <input type="text" class="form-control" name="qno" required placeholder="No. of Questions" aria-label="ques">
                </div>
              </div>
              {% comment %} <div class="col">
                <div class="box">
                  <input type="text" class="form-control" name="op1" required placeholder="Enter the topic" aria-label="ques">
                </div>
              </div> {% endcomment %}
            </div>
            {% comment %} <div class="col">
              <div class="box">
                <input type="text" class="form-control" name="op2" required placeholder="No. of Medium Questions" aria-label="op2">
              </div>
            </div>
            <div class="col">
              <div class="box">
                <input type="text" class="form-control" name="op2" required placeholder="No. of Difficult Questions" aria-label="op2">
              </div>
            </div> {% endcomment %}
            
            
            {% comment %} <div class="row">
              <div class="col">
                <div class="box">
                  <input type="text" class="form-control" name="op3" required placeholder="Option 3" aria-label="op3">
                </div>
              </div>
              <div class="col">
                <div class="box">
                  <input type="text" class="form-control" name="op4" required placeholder="Option 4" aria-label="op4">
                </div>
              </div>
            </div> {% endcomment %}
            
            <div class="row">
              <div class="col">
                <div class="box">
                  <input type="date" class="form-control" name="datee" required placeholder="date for quiz" aria-label="date">
                </div>
              </div>
              {% comment %} <div class="col">
                <div class="box">
                  <input type="number" class="form-control" name="correct" required placeholder="Time limit in minutes" aria-label="limit">
                </div>
              </div> {% endcomment %}
            </div>
            
            <button type="submit" class="btn btn-primary my-2" style="margin-bottom: 10px;">SET QUIZ</button>{% csrf_token %}
          </div>
        </form>
        
      </div>
      {% comment %} <a href="/trial">NEW PAGE TRAIL</a> {% endcomment %}
    </div>
  </div>
  
  
</section>



{%endblock body%}