body{
    background-image: url(/static/images/student/bg.jpg);
}



.comp2{
    background-color:rgb(249, 175, 0);
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
    /* width:300px; */
    /* height: 450px; */
    color: white;
    justify-items: bottom;
    align-items: right;
    padding: 20px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 5px 10px 18px #888888;
    display: inline-block;
}

.comp3{
    background-color:#fe3333;
    border-radius: 20px;
    /* width:300px; */
    margin: 10px 20px 10px 20px;
    color: white;
    justify-items: top;
    align-items: right;
    /* margin-bottom: 100px; */
    top:0%;
    padding: 20px;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 5px 10px 18px #888888;
    display: inline-block;
}

h3{
    text-align: center;
    padding: 20px;
}

.features{
    margin: 20px;
}

.data{
    color: black;

}

.box{
    margin: 10px 10px 10px 10px;
}

.itemtoggle{
    background-color: none;
    border-width: 0;
}

/* table edit */

